<style>
  



@media (min-width: 768px) and (max-width: 991px) {  
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
      .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
 @media (max-width: 575px) {
    .carousel-item {
       padding: 15px;
    }
 }
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;padding: 0px;
    }
   
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
   .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 768px) {
 
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
  
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 991px) {
   
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  
        z-index: -1;
        display: block;
        visibility: visible;
    }
  
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
  
  .carousel-control-next-icon, .carousel-control-prev-icon {
   background-color: #ffff;
}
  .carousel-control-next, .carousel-control-prev{
    width: 2.5em;
    height: 2.5em;
    top:28%;
        background: #fff;
    opacity: 1;
  }
  .carousel-control-prev{left:0px;}
  
     .card-body{position:relative;padding:0px;}
  .new{
        position: absolute;
    top: 0%;
    right:0%;
  }
  
  .data{
   background: #de0d3d;
    border-radius: 100%;
    text-align: center;
    padding: 12px;
    color: #fff;
    font-weight: bold;
        font-size: 23px;
  }
  .checked{
    color:#f4436c;
  }
 
  .product_contant{margin-top:15px;}
  .card{
    border:none;
    text-align:center;
    text-decoration:none;
  }
 
  .add__btn{
        background-color: #f4436c;
    border-color: #f4436c;
    color:#fff;
    padding: 10px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 10px;
        display: block;
        width: 80%;
    margin: auto;
}
  .add__btn:hover{
    text-decoration:none;color:#fff;
    background-color: #b22d4b;
    border-color: #b22d4b;
  }
  .product-title{
    min-height: 4em;
        display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-title a{
    color: #121416;
    font-size: 20px;
    text-transform: capitalize;
  }
  .product-title a:hover{
    color: #343a40;
    text-decoration:none;
  }
  .product_price{
   color: #f4436c;
    font-size:20px;
    margin-bottom:20px;
  }
  .product_price span{
    color:black
  }
  .carousel-control-next-icon{
    background-image: url("https://cdn.shopify.com/s/files/1/0618/1876/5491/files/hello.png?v=1647351318")
  }
  .carousel-control-prev-icon{
	
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.627 22.627' class='svg'%3E%3Cpath fill='%23f4436c' d='M16.2 1.885l-9.428 9.428 9.428 9.428-1.886 1.886L3 11.313 14.314 0z'%3E%3C/path%3E%3C/svg%3E");
}
  .carousel-control-next-icon{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.627 22.627' class='svg'%3E%3Cpath fill='%23f4436c' d='M5.428 20.742l9.428-9.428-9.428-9.428L7.314 0l11.314 11.314L7.314 22.627z'%3E%3C/path%3E%3C/svg%3E");
}
/*  span.carousel-control-prev-icon:before {
    content: '\2039';
    color: #de0d3d;
    font-size: 45px;
}
  
  span.carousel-control-next-icon:before {
    content: '\203A';
    color: #de0d3d;
    font-size: 45px;
} */
</style> 


<div class="top-content">
    <div class="container-fluid">
        <div id="carousel-product" class="carousel slide" data-ride="carousel" centerMode="true">
            <div class="carousel-inner row w-100 mx-auto" role="listbox">
              
               {% for product in collections[section.settings.feature_Collection].products %} 
              
              		<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 {% if forloop.first == true %} active {%endif%}">
                    <div class="card">
                      <div class="card-body">
                        <a href="{{product.url}}" ><img src="{{product.images[0] | img_url:"large"}}" > </a>
                        <div class="product_contant">
                          <div class"">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </div>
                          <h4 class="product-title"><a href="{{product.url}}">{{product.title}}</a></h4>
                          <h4 class="product_price"><span><del>{{product.compare_at_price| money_without_trailing_zeros}}</del></span>&nbsp;&nbsp; {{product.price | money_without_trailing_zeros }}</h4>
                          <a href="#" class="add__btn">add to kart</a>
                        </div>

                        {%for tag in product.tags %}
                        {% if tag == 'New product' %}
                                <div class="new">
                          <div class="data">
                            <p>new!</p>
                          </div>

                        </div>
                        {%endif%}
                        {% endfor%}
                      </div> 
                    </div>                  
                </div>  
              
              {% endfor %}
              
                           
              
            </div>
            <a class="carousel-control-prev" href="#carousel-product" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-product" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<script>
  /*
    Carousel
*/
$('#carousel-product').on('slide.bs.carousel', function (e) {
    
    var $e = $(e.relatedTarget);
    var idx = $e.index();
    var itemsPerSlide = 5;
    var totalItems = $('.carousel-item').length;
 
    if (idx >= totalItems-(itemsPerSlide-1)) {
        var it = itemsPerSlide - (totalItems - idx);
        for (var i=0; i<it; i++) {
            if (e.direction=="left") {
                $('.carousel-item').eq(i).appendTo('.carousel-inner');
            }
            else {
                $('.carousel-item').eq(0).appendTo('.carousel-inner');
            }
        }
    }
});
</script>

{% schema %}
{
  "name": " new collection-slders ",
  "settings": [
 {
      "type": "text",
      "id": "heading",
      "label": "Heading"
      
    },
    {
      "type": "collection",
      "id": "feature_Collection",
      "label": "choose collection show on slider"
      
    }
  ],
  "presets": [
    {
      "name": "new collection-slders",
      "category": "collection"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
